<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">

      <td>{{ book.id }}</td>
      <td> {{ book.name }}</td>
      <td> {{ book.description}}</td>
      <td> {{ book.price}}</td>
      <td>
        <button class="btn btn-primary" (click)="selectBook(book)"> Show details</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<div class="card text-center" *ngIf="selectedBook">
    <div class="card-header">
      # {{selectedBook.id}}
    </div>
    <div class="card-block">
      <h4 class="card-title">{{selectedBook.name}}</h4>
      <p class="card-text">
        {{selectedBook.description}}
      </p>
    </div>

  </div>
