<h4>Emp Detail - Reactive Form!</h4>
<h6><i>A FormGroup with multiple FormControls</i></h6>
<form [formGroup]="empForm" novalidate >
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
    
  
<div formGroupName="address" class="well well-lg">
  <h4>Secret Lair</h4>
  <div class="form-group">
    <label class="center-block">Street:
      <input class="form-control" formControlName="street">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">City:
      <input class="form-control" formControlName="city">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">State:
      <select class="form-control" formControlName="state">
        <option *ngFor="let state of states" [value]="state">{{state}}</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Zip Code:
      <input class="form-control" formControlName="zip">
    </label>
  </div>
</div>

  <div class="form-group radio">
    <h4>Super power:</h4>
    <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
    <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
    <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
  </div>

  <button [disabled]='empForm.status!="VALID"' (click)="mysubmit()">Submit</button>
  <div [hidden]="empForm.status=='VALID'" 
       class="alert alert-danger">
        FORM IS INVALID!
   </div>
   <div [hidden]="empForm.get('name')?.status=='VALID'" 
       class="alert alert-danger">
        FORMFIELD name IS INVALID, minlength is 5 and maxlength is 15!
   </div>
</form>


<p>Form status: {{ empForm.status | json }}</p>
<p>Form value: {{ empForm.value | json }}</p>


<p>Name value: {{ empForm.get('name')?.value }}</p>
<p>Street value: {{ empForm.get('address.street')?.value}}</p>

